<div class="row">
  <div class="col-3">
    <ca-search
      [controls]="searchControls"
      [filters]="filters">
    </ca-search>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-2">
        <ca-add-item
          [newItem]="newItem">
        </ca-add-item>
      </div>
      <div class="col-2">
        <select #ipp (change)="updateFilters('itemsPerPage', ipp.value)">
          <option *ngFor="let option of [2, 5, 10, 25, 50]">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="col-8">
        <ngb-pagination
          [collectionSize]="total"
          [pageSize]="filters.value.itemsPerPage"
          [page]="filters.value.currentPage"
          (pageChange)="updateFilters('currentPage', $event)">
        </ngb-pagination>
      </div>
    </div>
    <ca-datagrid [data]="items"
                 [config]="config"
                 (removeEvent)="removeItem($event)"
                 (showEvent)="showItem($event)">
    </ca-datagrid>
  </div>
</div>
