<div class="row">
  <div class="col-3">
    <ca-search
      [controls]="searchControls"
      [filters]="filters">
    </ca-search>
  </div>
  <div class="col-9">
    <ca-datagrid
      [data]="workers | search: filters.value"
      [config]="config"
      (removeEvent)="removeWorker($event)">
    </ca-datagrid>
  </div>
</div>
