<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add item</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" id="add-item-form" class="modal-body">
      <div class="form-group">
        <input class="form-control"
               type="text"
               placeholder="title"
               name="title"
               ngModel
               required
               minlength="3">
        <small class="badge badge-danger">
          {{ f.controls.title?.errors | json }}
        </small>
      </div>

      <div class="form-group">
        <input class="form-control"
               type="number"
               placeholder="price"
               name="price"
               ngModel
               pattern="^\d+$">
        <small class="badge badge-danger">
          {{ f.controls.price?.errors | json }}
        </small>
      </div>

      <div class="form-group">
        <select name="category"
                class="form-control"
                ngModel>
          <option value="" disabled selected>category</option>
          <option value="food">food</option>
          <option value="clothes">clothes</option>
        </select>
      </div>

      <hr>

      <button
        type="button"
        class="btn btn-secondary"
        (click)="addItem(f)">
        Add item
      </button>
    </form>
  </div>
</ng-template>

<button
  class="btn btn-primary"
  (click)="open(content)">
  Add
</button>
