<h1>Welcome to ngAppGdansk!</h1>

<div class="container-fluid">
  <nav class="nav nav-tabs mt-1 mb-1">
      <a class="nav-item nav-link"
         routerLinkActive="active"
         routerLink="items">
          items
      </a>
      <a class="nav-item nav-link"
         routerLinkActive="active"
         routerLink="workers">
          workers
      </a>
      <a class="nav-item nav-link"
         routerLinkActive="active"
         routerLink="registerForm">
          register form
      </a>
      <a class="nav-item nav-link"
         routerLinkActive="active"
         routerLink="lazy">
          lazy
      </a>
      <a class="nav-item nav-link"
         routerLinkActive="active"
         routerLink="secret">
          secret
      </a>

      <span appSetColor="red">
        <ca-auth></ca-auth>
      </span>
  </nav>

  <router-outlet></router-outlet>
</div>
