<div class="row">
  <pre class="col-6">
    {{ form.value | json }}
  </pre>

  <form id="register-form" [formGroup]="form"
        class="col-6">
      <div class="form-group">
          username/email
          <input type="text" class="form-control" name="username"
                 formControlName="username">
          <ca-errors [errors]="form.get('username').errors"></ca-errors>
      </div>
      <div class="form-group">
          birth date
          <input type="date" class="form-control" name="birthDate"
                 formControlName="birthDate">
           <ca-errors [errors]="form.get('birthDate').errors"></ca-errors>
      </div>

      <div class="form-group" formGroupName="hobbies">
        <label
          class="badge badge-info m-1"
          *ngFor="let item of form.get('hobbies').value | mapToIterable">
            {{ item }}
          <input type="checkbox" [formControlName]="item">
        </label>
        <ca-errors [errors]="form.get('hobbies').errors"></ca-errors>
      </div>
      <button class="btn btn-primary">send me</button>
  </form>
</div>
