<table class="table">
  <thead>
    <tr>
      <th *ngFor="let prop of config">{{ prop.label }}</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let prop of config">
        <div [ngSwitch]="prop.type">
          <div *ngSwitchCase="'input'">
            <input type="text" name="" [value]="row[prop.key]">
          </div>
          <div *ngSwitchCase="'image'">
            <img [src]="row[prop.key]" alt="" class="form-control" style="max-width: 70px;">
          </div>
          <div *ngSwitchDefault>
            {{ row[prop.key] }}
          </div>
        </div>
      </td>
      <td>
        <button class="btn btn-danger"
                (click)="remove(row.id)">
          Remove
        </button>
        <button class="btn btn-primary"
                (click)="show(row.id)">
          Show
        </button>
      </td>
    </tr>
  </tbody>
</table>
