<ng-template #formTemplate>
  <form class="form-inline" #f="ngForm"
        (submit)="sendForm(f.value)">
     <input class="form-control form-control-sm"
            type="email"
            name="username"
            placeholder="username"
            ngModel="admin@localhost"
            required>
     <input class="form-control form-control-sm"
            type="password"
            name="password"
            placeholder="password"
            ngModel="admin"
            required>
     <button [disabled]="f.invalid" class="btn btn-sm btn-primary">
         log in
     </button>
  </form>
</ng-template>

<button class="btn btn-primary"
        *ngIf="authService.access; else formTemplate"
        (click)="logout()">
  Logout
</button>
