<form #f="ngForm">
  <label *ngFor="let control of controls">
    {{ control }}
    <input
      [id]="'search-by-' + control"
      type="text"
      class="form-control"
      [name]="control"
      ngModel>
  </label>
</form>
